    body{
        margin:0px;
        background-image: url(../sunrise.jpg);

    }
    .header{
        height:60px;
        width:100%;
        background-color:grey;
        border: 1 px black solid;
    }
    .left-cont{
        float:left;
        width:30%;
        height:40px;
        margin-left:100px;
        margin-top: auto;
     font-size: xx-large;
    }
    .right-cont2{
        float:right;
        width:10%;
        height:40%;
        line-height: 40px;
        margin-top: auto;

    }
    .right-cont2 button{
        background-color: black;
        padding:10px;
        color:white;
        margin-top: auto;
    }
    .right-cont1
    {
        float:left;
        width:50%;
        height:40px;
        font-size: larger;
        margin-left:0px;
        line-height:40px;
        
    }
    .right-cont1 a{
        padding-left: 40px;
       
    }
    section{
        margin-top:100px;
    }
    .section-span{
        margin-left:100px;
    
        font-size: 40px;
        padding:0px;
    }
    .port-img{
        height:500px;
        float:right;
        border-radius: 50%;
        position:relative;
        bottom:200px;
        right:300px;
    }
    