*{
    margin:0px;
    padding:0px;
}


.menu ul{
    list-style: none;
}
.menu ul li{
    background-color: aqua;
    width:120px;
    text-align: center;
    height:32px;
    line-height: 32px;
    float:left;
    margin-left:10px;
    position: relative;
    border-radius: 5px;
    

}
.menu ul li a{
    color:white;
    text-decoration: none;
    display:block;
}
.menu ul li a:hover{
    background-color: coral;
}
.menu ul ul{
    display:none;
    position:absolute
}
.menu ul li:hover > ul{
    display:initial ;
}
.menu ul ul ul{
    margin-left:50px;
    top:0px;
}
